body{ height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px;
}

.button{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(70%) saturate (100%) contrast(45%) brightness(130%);
  border: 0.3px inset white;
  border-radius: 10px;
  top: 450px;
  position: absolute;
}

.button:hover{
  transform: translateY(2%);
  box-shadow: 1px 1px .5px 1px grey;
}

#saa{
  opacity: 1;
  color: black;
  font-family: 'Akaya Telivigala';
  animation: none;
}

.main{ background-image: url("sher.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       padding: 0px;
       height: 754px;
       width: 100%;
       color: black;
       animation-name: baddy;
       animation-duration: 50s;
       animation-iteration-count: infinite;
       display: block;
       justify-content: center;
}

@keyframes baddy {
  10%{background-image: url("sher.jpg");}
  50%{background-image: url("shers.jpg");}
  100%{background-image: url("sherss.jpg");}
}

.intro{ position: absolute;
        z-index: 3;
        font-family: cursive;
        top: 400px;
        animation: position 5s;
        text-shadow: 1px 1px 2px white;
}

@keyframes position {  0%{ opacity: 0;}
                       25%{ opacity: 0.3;}
                       50%{ opacity: 0.5;}
                       75%{ opacity: 0.75;}
                       100%{ opacity: 1;}
}

.drop{
       height: auto;
       display: flex;
       justify-content: center;
       align-items: center;
}

.lc{ width: 100px;
     height: 100px;
     border-radius: 50px;
     position: absolute;
     box-shadow: 0px 0.5px 5px 0.1px black;
     top: 300px;
     animation-name: drop;
     animation-duration: 3s;
     animation-iteration-count: 1;
}

@keyframes drop { 0% {top: 0px; width: 10px; height: 10px; border-radius: 5px;}
                  100%{top: 300px; width: 100px; height: 100px; border-radius: 50px; background: radial-gradient(circle, black, white); transform: rotate(360deg);}
}

a{ color: white;
   text-decoration: none;
}

.head{
  display: flex;
  position: absolute;
  top: 22px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(70%) saturate (100%) contrast(45%) brightness(130%);
  border: 0.1px inset white;
  border-radius: 10px;
  border-top: 0;
}

.header{
  display: inline-block;
  padding: 10px;
  font-size: 10px;
  color: black;
  animation-name: kin;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  color: white;
}

.header:hover{
  border-top: 1px solid white;
  border-bottom: 1px solid black;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: .7rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  width: 90%;
  height: 2px;
  background-color: white;
}

@media (max-width: 600px) {
  .toggle-button{
    display: flex;
  }
  .head{
    display: none;
  }
  .head{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35px;
   }
   .head.active{
     display: flex;
   }
}

/*keyframes kink {
  10%{color: black;}
  50%{color: white;}
  100%{color: white;}
}*/

.headers{
  animation-name: kink;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}

.me{
  width: 150px;
  height: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 550px;
  border: 2px soli black;
  border-radius: 10%;
  box-shadow: 5px solid grey
}

.mes{
  background-image: linear-gradient(to left, #353839 40%, #2f4f4f 60%);
  opacity: .7;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 100px;
  margin: 0;
  padding: 0;
}

#div{
  height: 100px;
}

.onyi{
  width: 150px;
  height: 150px;
  position: relative;
  top: 50%;
  transform: translateY(-50%) scale(0.6, 0.6);
  border-radius: 75px;
}

.hello{
  position: relative;
  float: left;
  color: black;
  font-size: 20px;
  font-family: Apple Chancery, cursive;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  bottom: 50;
}

.home{
  position: absolute;
  font-size: 10px;
  color: white;
  top: 32px;
  left: 30px;
}

#icons{
  height: 30px;
  width: 200px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(70%) saturate (100%) contrast(45%) brightness(130%);
  border: 0.1px inset white;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px black);
}

#icons a{
  width: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#icons a:hover{
  filter: drop-shadow(1px 1px 2px lightblue);
  transform: scale(1.2);
}

#mail{
  width: 20px;
  height: 20px;
}

#ig{
  width: 20px;
  height: 20px;
}

#whatsapp{
  width: 20px;
  height: 20px;
}
